html {
    height: 100%;
}

body {
<<<<<<< HEAD
    /*max-height: 650px*/
    min-height: 100%;
    align-content: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: #dddddd; 
    /*background-image: url(.\Assessts\Images\wheat.png);*/
=======
 /*max-height: 650px;*/
 min-height: 100%;
 width: 960px;
 align-content: center;
 padding-left: 150px;
 margin: 0;
 display: flex;
 flex-direction: column;
 overflow: auto;
 background-color: #dddddd; 
 /*background-image: url(.\Assessts\Images\wheat.png);*/
>>>>>>> 9fdd13e7c6ef59f30b957f7f1c9d0a970607397f
}

.wrapperOverall{
    flex: 1 0 auto;
    min-height: 100%;
    margin-bottom: -52px;
}

<<<<<<< HEAD
.wrapperContent {
    max-width: 960px;
    width: 100%;
    align-content: center;  
    margin-left: 150px;
   }

=======
>>>>>>> 9fdd13e7c6ef59f30b957f7f1c9d0a970607397f

/*HEADER CODE START*/

/*Wrapper for Header*/
.wrapper {
<<<<<<< HEAD
    width: auto;
=======
>>>>>>> 9fdd13e7c6ef59f30b957f7f1c9d0a970607397f
    overflow: auto;
    text-align: auto;
    position: relative;
    background-color: #ffffff;
}

.header {
<<<<<<< HEAD
    width: 100%;
=======
    float: left;
    background-color: #4aaaa5;
>>>>>>> 9fdd13e7c6ef59f30b957f7f1c9d0a970607397f
}

h2.Name {
    position: relative;
    height: 70px;
    line-height: 70px;
    float: left;
    text-align: center;
    padding-left: 18px;
    padding-right: 20px;
<<<<<<< HEAD
    margin-left: 150px;
=======
>>>>>>> 9fdd13e7c6ef59f30b957f7f1c9d0a970607397f
    margin-bottom: 0;
    margin-top: 0;
    color: white;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
<<<<<<< HEAD
   }
=======
}
>>>>>>> 9fdd13e7c6ef59f30b957f7f1c9d0a970607397f

.links {
    font-size: 14px;
    position: absolute;
<<<<<<< HEAD
    width: 26%;
    top: 25px;
    right: 0px;
=======
    top: 25px;
    right: 5px;
>>>>>>> 9fdd13e7c6ef59f30b957f7f1c9d0a970607397f
    float: right;
    padding-bottom: -10px;
    word-spacing: 8px;
    font-family: Arial, Helvetica, sans-serif; /*unable to find Fonts with Helvetica nue*/
}

a {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
}

a:focus {
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
}

a:active {
    color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
}

a:visited {
    color:darkblue;
    font-family: Arial, Helvetica, sans-serif;
}


.border1{
    background-color: #cccccc;
    width: 100%;
    height: 2px;
}
/*END HEADER CONTENT*/


.border2{
    background-color: #dddddd;
<<<<<<< HEAD
    width: 104%;
=======
    width: 95.8%;
>>>>>>> 9fdd13e7c6ef59f30b957f7f1c9d0a970607397f
    height: 2px;
    margin-left: 17px;
    text-align: center;
    display: inline-block;
}

h2.Title {  
<<<<<<< HEAD
=======
    font-family: Georgia, 'Times New Roman', Times, serif;
>>>>>>> 9fdd13e7c6ef59f30b957f7f1c9d0a970607397f
    position: relative;
    text-align: center;
    padding-top: 23px;
    margin-left: -50px;
    margin-bottom: 6px;
<<<<<<< HEAD
    padding-left: 8px;
    width: 240px;
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
=======
    padding-left: 3px;
    width: 240px;
    color: teal;
>>>>>>> 9fdd13e7c6ef59f30b957f7f1c9d0a970607397f
}

/* IMAGE LINING */
.column {
    float: left;
    width: 350px;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 19px;
    margin-right: -165px;
    margin-bottom: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    height: 150px;
    width: 150px;
}


/* FLOATING LABELS */

.Basics, .words, .RpgCar, .Capstone1 {
    position: relative;
    margin-top: -60px;
    height: 50px;
    width: 175px;
    line-height: 50px;
    z-index: 10;
    text-align: center;
    align-content: center;
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
}

.contentIndex {
    margin-top: 34px;
    margin-bottom: -15px;
<<<<<<< HEAD
    margin-right: 65px;
    height: 450px;
=======
    height: 475px;
>>>>>>> 9fdd13e7c6ef59f30b957f7f1c9d0a970607397f
}

.wrapperContent {   
    background-color: #ffffff;
}

.border3 {
    width: 100%;
    height: 8px;
    background-color: #4aaaa5;
}


footer, .push {
<<<<<<< HEAD
 margin-bottom: 0px;
 margin-top: auto;
 flex-shrink: 0;
 height: 52px;
 color: white;
 background-color: #666666;
=======
    margin-top: 110px;
    height: 50px;
    color: white;
    background-color: #666666;
    margin-bottom: 0;
>>>>>>> 9fdd13e7c6ef59f30b957f7f1c9d0a970607397f
}

h6 {
    color: #b7b0a2;
    text-align: center;
}


