html {
    height: 100%;
}

body {
    /*max-height: 650px*/
    min-height: 100%;
    align-content: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: #dddddd; 
    /*background-image: url(.\Assessts\Images\wheat.png);*/
}

.wrapperOverall{
    flex: 1 0 auto;
    min-height: 100%;
    margin-bottom: -52px;
}

.wrapperContent {
    max-width: 960px;
    width: 100%;
    align-content: center;  
    margin-left: 150px;
   }


/*HEADER CODE START*/

/*Wrapper for Header*/
.wrapper {
    width: auto;
    overflow: auto;
    text-align: auto;
    position: relative;
    background-color: #ffffff;
}

.header {
    width: 100%;
}

h2.Name {
    position: relative;
    height: 70px;
    line-height: 70px;
    float: left;
    text-align: center;
    padding-left: 18px;
    padding-right: 20px;
    margin-left: 150px;
    margin-bottom: 0;
    margin-top: 0;
    color: white;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }

.links {
    font-size: 14px;
    position: absolute;
    width: 26%;
    top: 25px;
    right: 0px;
    float: right;
    padding-bottom: -10px;
    word-spacing: 8px;
    font-family: Arial, Helvetica, sans-serif; /*unable to find Fonts with Helvetica nue*/
}

a {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
}

a:focus {
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
}

a:active {
    color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
}

a:visited {
    color:darkblue;
    font-family: Arial, Helvetica, sans-serif;
}


.border1{
    background-color: #cccccc;
    width: 100%;
    height: 2px;
}
/*END HEADER CONTENT*/


.border2{
    background-color: #dddddd;
    width: 104%;
    height: 2px;
    margin-left: 17px;
    text-align: center;
    display: inline-block;
}

h2.Title {  
    position: relative;
    text-align: center;
    padding-top: 23px;
    margin-left: -50px;
    margin-bottom: 6px;
    padding-left: 8px;
    width: 240px;
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* IMAGE LINING */
.column {
    float: left;
    width: 350px;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 19px;
    margin-right: -165px;
    margin-bottom: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    height: 150px;
    width: 150px;
}


/* FLOATING LABELS */

.Basics, .words, .RpgCar, .Capstone1 {
    position: relative;
    margin-top: -60px;
    height: 50px;
    width: 175px;
    line-height: 50px;
    z-index: 10;
    text-align: center;
    align-content: center;
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
}

.contentIndex {
    margin-top: 34px;
    margin-bottom: -15px;
    margin-right: 65px;
    height: 450px;
}

.wrapperContent {   
    background-color: #ffffff;
}

.border3 {
    width: 100%;
    height: 8px;
    background-color: #4aaaa5;
}


footer, .push {
 margin-bottom: 0px;
 margin-top: auto;
 flex-shrink: 0;
 height: 52px;
 color: white;
 background-color: #666666;
}

h6 {
    color: #b7b0a2;
    text-align: center;
}


/*Note: Having an issue with enlarging the images. 
Cannot update all through img tag, rows, or columns.
Still investigating, but may not be able to fix by 
deadline.*/

@media screen and (max-width: 980px) {
    body {
        max-width: 980px;
        width: 100%;
        height: auto
    }

    h2.Name {
        margin-left: 25px;
    }

    .links {
        margin-right: 0;
    }

    .headerWrapper {
        width: 100%
    }

    .contentIndex {
        width: 80%;
        height: auto;
        margin-bottom: 50px;
    }

    .border2 {
        width: 114%;
    }

    .wrapperContent {
        width: 65%;
        margin-left: 25px;
        margin-bottom: 200px;
        padding-bottom: 1px;
    }

    .Basics, .words, .RpgCar, .Capstone1 {
        width: 50%;
    }

    .column {
        width: 75%;
        height: auto;
    }

}

@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
        width: 100%;
        height: auto;
    }

    h2.Name {
        margin-left: 25px;
    }

    .links {
        margin-right: 0;
    }

    .headerWrapper {
        width: 100%
    }

    .border2 {
        width: 105%;
    }

    .wrapperContent {
        margin-left: 25px;
        margin-bottom: 200px;
        width: 93%;
    }

    h2.title {
        padding-top: 30px;
        padding-bottom: 5px;
    }


    .contentContact {
        max-width: 768px;
        width: 91%;
    }

    .contentIndex {
        margin-top: 60px;
        padding-left: 8px;
        padding-bottom: 50px;
        width: 88%;
        height: auto;
    }

    .Basics, .words, .RpgCar, .Capstone1 {
        width: 50%;
    }

    img {
        width: 100%;
    }

    .row {
        padding-left: 20%;
    }

    .column {
        width: 75%;
        height: auto;
    }

}

@media screen and (max-width: 640px) {
    body {
        max-width: 640px;
        width: 100%
    }

    h2.Name {
        position: fixed;
        width: 100%;
        margin-left: 0;
    }

    h2.title {
        padding-left: 115px;
        padding-top: 30px;
        padding-bottom: 5px;
        
    }

    .headerWrapper {
        width: 100%;
        height: 125px;
    }

    .links {
        float: left;
        position: fixed;
        height: 35px;
        width: 40%;
        margin-top: 63px;
        margin-left: 100px;
        margin-right: -150px;
        padding-left: 600px;
        padding-right: 275px;
        background: #ffffff;
    }

    .wrapperContent {
        margin-left: 25px;
        margin-bottom: 200px;
        padding-top: 60px;
        width: 90%;
    }

    .border2 {
        width: 148%;
    }

    .contentIndex {
        margin-top: 60px;
        padding-left: 8px;
        padding-bottom: 50px;
        width: 60%;
        height: auto;
    }

    .column {
        width: 295%;
        height: auto;
    }

    .Basics, .words, .RpgCar, .Capstone1 {
        width: 50%;
    }

    img {
        width: 50%;
        height: auto;
    }
}

